[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
transformers = "*"
python-dotenv = "*"
openai = "==0.28.0"

[dev-packages]

[requires]
python_version = "3.12"
