[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
transformers = "*"
python-dotenv = "*"
langchain = "*"
streamlit = "*"
requests = "*"
torch = "*"
einops = "*"
bitsandbytes = "*"
accelerate = "*"
"pdfminer.six" = "*"
bs4 = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.12"
